.cardItem {
    display: flex;
    width: 25%;
    flex-direction: column;
}
.cardItem img {
    width: 2rem;
    height: 3rem;
}

.cardItem:hover {

    
}
.cardImgElement{

}
.cardItem:hover .cardImgElement img::after{
    animation: grow .125s forwards;
}

.plainMana{
    position: relative;
    left: 1.5rem;
    bottom: 1rem;
    font-size: 1.75rem;
}
@keyframes grow{
    from{
        width: 2rem;
        height: 3rem;
    }
    to{
        width: 100%;
        height:100%
    }
}
